<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

</head>



<body style="  font-family: 'Open Sans', sans-serif;
            color: #74787e;
            padding: 0;
            margin: 0;word-break: break-word;">

    <table style="font-family: 'Open Sans', sans-serif;font-size: 16px; text-align: center;margin: auto;padding: 10px;max-width: 767px;width: 100%;word-break: break-all;border-collapse: collapse;">
        <tbody>
            <!--===================top head=============-->
            <tr>
                <td>
                    <table style="text-align: center; margin: auto; width: 100%;">
                        <thead>
                            <tr>
                                <td>
                                    <div style="margin: auto;"><img style="width: 100%;" src="http://api.teamtommapp.co.uk/Images/ForgotPassword.png"></div>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
            <!--===================Middle Body=============-->
            <tr>
                <td>
                    <table style="word-break:break-word; font-family: 'Open Sans', sans-serif;text-align: left;border: 2px solid #edeae6;width: 100%;text-align: left;">
                        <tbody>
                            <tr>
                                <td style="color: rgb(38,38,38);font-size: 1em;padding:15px;">
                                    <div style="word-break: break-word;text-align: left;text-transform:capitalize">
                                        Dear {0} {1},
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: rgb(38,38,38);font-size: 1em;">
                                    <div style="color: rgb(38,38,38);font-size: 1em;padding:15px;">
                                        You have reset your password on the TeamTOM App. If you did not make this request, please check your account and reset your password again. Contact support@theorganisedmum.com if you think someone other than you may be accessing your account.

                                        If you did reset it.
                                        <!--,your new login details are provided below for your safekeeping.-->

                                    </div>
                                    <!--<div style="color: rgb(38,38,38);font-size: 1em;padding:15px;">
                                        UserName:- {2}
                                    </div>-->
                                    <!--<div style="color: rgb(38,38,38);font-size: 1em;padding:0 15px;">
                                        Password:- {3}
                                    </div>-->
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: rgb(38,38,38);font-size: 1em;padding:15px;">
                                    <div style="word-break: break-word;">
                                        Best Wishes,
                                    </div>
                                    <div style="word-break: break-word;">
                                        TeamTOM
                                    </div>
                                    <br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!--===================footer=============-->
            <tr>
                <td style="padding: 40px 0; background: #f6f5f3;">
                    <table style="font-family: 'Open Sans', sans-serif;text-align: center; margin: auto; width: 80%;word-break: break-word;">
                        <thead>
                            <tr>
                                <td>
                                    You received this email because you are registered on TeamTOM App with the email address: {4} email
                                </td>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>